<div class='container'>
    <div class='row center'>
        <div class='col s12 m12 l12'>
            <div class='card-panel'>
                <h3>Hi <%= @student.name %>!</h3>
                <p>Your email: <%= @student.email%></p>
            </div>
        </div>
    </div>
</div>