<div class='container'>
    <div class='row center'>
        <div class='col s12 m12 l12'>
            <div class='card'>
                <div class="card-content">
                    <span class="card-title">Name: <%= @student.name%></span>
                    <p>Email: <%= @student.email%></p>
                </div>
                <div class="card-action">
                    <p>Current Enrollments</p>
                    <% if @student.courses.empty? %>
                        <span> None </span>
                    <%else%>
                        <ul>
                            <% @student.courses.each do |course| %>
                                <li><%= link_to course.name, course_path(course), class: 'pink-text' %></li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
        <% if current_user == @student %>
            <%= link_to '<i class="material-icons right">create</i>Edit your profile'.html_safe, edit_student_path(@student), class: 'btn'%>
        <% end %>
    </div>
</div>