<h1>Courses Listing</h1>

<ul>
    <li>Code: CS11</li>
    <li>Name: Siema Elo</li>
    <li>Description: Siema siema elo elo</li>
</ul>


<ul>
    <li>Code: CS11</li>
    <li>Name: Siema Elo</li>
    <li>Description: Siema siema elo elo</li>
</ul>